# Keil MDK 编译中间产物
projects/**/keil5/out/
projects/**/keil5/_build/
*.i
*.lst
*.d
*.dep
*.axf
*.map
*.htm
*.lnp
*.crf


# Keil 用户个人配置 / 调试配置
*.uvguix.*
*.uvoptx
JLinkSettings.ini

# VS Code 插件生成
projects/**/keil5/.vscode/uv4.log
projects/**/keil5/.vscode/uv4.log.lock

# local helper script
push_to_github.bat

# 主机测试产物
tests/host/_out/
